<!DOCTYPE html>
<html>
     <head>
           <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
     <body>
           <div class="main-content">
                 {{>header}}
            <p>Hi,My name is Nitin Yadav.Currently I am pursuing Computer Science Engineering form Maulana Azad National Institute of Technology(MANIT),Bhopal.An Institute of National Interest.I am in 3rd Year now.
                   The Basic Purpose to design this application to get Weather 
                   free of Cost...
            </p>
             <p>Creator's Image:</p>
            <img class="portrait" src="/img/chasma wala photo(2).jpg" alt="Nitin in Specs">
           </div>
           {{>footer}}
     </body>
</html>