<!DOCTYPE html>
<html>
     <head>
           <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
     <body style="text-align: center;">
           <div class="main-content">
                 {{>header}}
               
            <p>This website is designed to know the weather status of any location.It provides the full details of weather of any place you are searching for.
                  <b><br>More Updates are on the way...<br>Stay tuned for interesting features..</b>
            </p>
            <h3>Creators Introduction:-</h3>
            <p>Hi,My name is Nitin Kumar.I am pursuing Computer Science Engineering(CSE) form Maulana Azad National Institute of Technology(MANIT),Bhopal.An Institute of National Importance.Currently I am in 3rd Year.</p>
             <h3>Creator's Image:</h3>
            <img class="portrait" src="/img/round_photo.jpg" alt="Nitin's Image">
           </div>
           {{>footer}}
     </body>
</html>