<!DOCTYPE html>
<html>
     <head>
         <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css">
     </head>
     <body style="text-align: center;">
         <div class="main-content">
             {{>header}}
           
           <p>For Any Type of Help,Queries or Complaint regarding this website,You can reach out to the below contact:-</p>
           <address>
             Email:<a href="nitinkumar151199@gmail.com" style="color: black;">nitinkumar151199@gmail.com</a><br>
             Contact Number:91174XXXXX<br>
             Address:MANIT,Mata Mandir Chouraha,Bhopal,M.P(India)
           </address>
         </div>
         {{>footer}}
     </body>
</html>