body {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("/img/image (7).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

footer {
    color: black;
    border-top: 2px solid red;
}

header {
    margin-top: 15px;
    margin-bottom: 48px;
}

h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

header a {
    color: blue;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.main-content {
    flex-grow: 1;
}

input {
    border: 1px solid black;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}